/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

* {
     margin: 0;
     padding: 0;
     
}

body {
     width: 1440px;
     height: 290px;
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     
}
/* Шапка */
.header {
     padding: 80px 1069px 30px 135px;
}

.header-item {
     display: flex;
     align-items: center;
     width: 390px;
}

.header-item__h1 {
     width: 236px;
     height: 42px;
     font-size: 28px;
     font-weight: bold;
     text-transform: uppercase;
     margin-right: 20px;
     padding: 0;
     line-height: 42px;
     letter-spacing: 0.9px;
}    
/* Лейбл "Хит продаж */
.header-item__label {
     width: 124px;
     height: 28px;
     background-color: #FEC022;
     border-radius: 4px;   
}

.label-icon {
     position: relative;
     left: 11px;
     top: 6.5px;
}

.label-txt {
     position: relative;
     left: 16px;
     top: 2.5px;
     color: #ffffff;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 12px;
     
}

/* Основная секция */
.section {
     background-image: url(../img/bg.png);
     background-repeat: no-repeat;
}

.section-img {
     margin: 90px 130px 0 801px;
}

/* Кнопка "Отправить заявку" */
.section-button {
     position: absolute;
     top: 123px;
     width: 211px;
     height: 60px;
     background: #FFFFFF;
     border: 2px solid #E31E25;
     box-sizing: border-box;
     border-radius: 4px;
 }
 
 .section-button__txt {
     color: #E31E25;
     text-transform: uppercase;
     padding: 30px 20px;
     font-size: 14px;
 }

 /* Основной контент секции */
 .content {
     width: 739px;
     height: 84px;
     box-sizing: border-box;
     position: absolute;
     top: 182px;
     left: 135px;
 }
/* Карточки */
.content-card {
     display: flex;
     flex-direction: row;
}

.content-card__column{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 0px;
     float: left;
}


.content-card__price {
     width: 170px;  
}

.content-card__diameter {
     width: 270px;
}

.content-card__pack{
     width: 239px;
}

.content-card__type{
     width: 214px;
     height: 84px;
     margin-left: 30px;
}

.content-card__price, .content-card__diameter, .content-card__pack {
     height: 84px;
     margin: 0 30px 0 0;
     padding: 0; 
}

/* Заголовки карточек */
.price, .diameter, .pack, .type{
     font-size: 18px;
     display: flex;
     align-items: baseline;
     margin-top: 2px;
}

/* Списки карточек */
.price-item, .diameter-item, .pack-weight{
     margin-top: 31px;
}

li{
     display: inline;
}
.item{
     margin-right: 4px;
     background: #FFFFFF;
     border-radius: 4px;
     padding: 10px;
     font-size: 16px;
     text-decoration: none;
     color: #000000;
}

.pr{
     font-size: 20px;
     font-weight: 500;
     line-height: 20px;
     margin-right: 4px;
     background: #FFFFFF;
     border-radius: 4px;
     padding: 10px;
}

/* Иконки */
.content-card__icon {
     margin-right: 5px;
     float: left;
}

/* Стили ссылок списков */
a:hover {
     background: #FCE8E9;
     border: 1px solid #E31E25;  
}

a:focus{
     background: #E31E25;
     color: #FFFFFF;
}

/* Всплывающая форма */
.form {
     position: fixed;
     top: 60px;
     left: 505px;
     display: none;
     width: 430px;
     height: 433px;
     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);    
}

form-container {
     display: flex;
     flex-direction: column;
}

.form-title {
     display: flex;
     width: 430px;
     height: 84px;
     background: #F1F2F2;
     margin-bottom: 5px;
}

.form-title-img {
     width: 16px;
     height: 16px;
     margin-top: 6px;
}

.title-txt {
     font-size: 22px;
     text-transform: uppercase;
     padding-top: 3px;
     margin: 31px 24px 20px 30px;
     letter-spacing: 1.6px;
}

.name, .phone, .email {
     width: 355px;
     height: 48px;
     margin: 15px 0 0 30px;
     font-size: 14px;
     color: #99A2AD;
     background: #F1F2F2;
     border: 1px solid #99A2AD;
     border-radius: 4px;
     padding-left: 12px;
}
.email {
     margin-bottom: 0;
}

.check {
     display: flex;
     align-items: center;
     margin-top: 17px;
}

.i-agree {
     font-size: 14px;
     color: #99A2AD;
}

.checkbox {
     width: 20px;
     height: 20px;
     background: #F1F2F2;
     border: 1px solid #898989;
     box-sizing: border-box;
     border-radius: 4px;
     margin-left: 32px;
     margin-right: 10px;
}

.bt-form {
     width: 150px;
     height: 50px;
     background: #E31E25;
     border: 1px solid #E31E25;
     border-radius: 4px;
     font-size: 14px;
     text-transform: uppercase;
     color: #FFFFFF;
     margin-left: 30px;
     margin-top: 32px;
}

